@import "freelancer/src/scss/_variables.scss";

$primary: #2b3d4f;
$secondary: #d7852d;

.sdl {
    margin-bottom: 2em;
}

// Import Bootstrap
@import "freelancer/src/scss/bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "freelancer/src/scss/global.scss";

// Components
@import "freelancer/src/scss/components/divider.scss";
@import "freelancer/src/scss/components/buttons.scss";
@import "freelancer/src/scss/components/navbar.scss";
@import "freelancer/src/scss/components/forms.scss";

// Sections
@import "freelancer/src/scss/sections/masthead.scss";
@import "freelancer/src/scss/sections/portfolio.scss";
@import "freelancer/src/scss/sections/footer.scss";

a {
    color: $secondary;
}
.navbar-form {
    margin: 0;
}