{% extends "base.jinja" %}
{% block title %}WakTisanat - Add Avatar{% endblock %}
{% block description %}Add Avatar{% endblock %}
{% import 'avatar_form.jinja' as avatarForm %}
{% block content %}
    {% block avatar %}
        {{ avatarForm.avatarForm(avatar, lang, "/avatar", servers, jobs) }}
    {% endblock %}
{% endblock %}