{% extends "base.jinja" %}
{% import 'display_avatar.jinja' as displayAvatar %}
{% block title %}WakTisanat - {{ avatar.name }} Avatar of {{ user.name }}{% endblock %}
{% block description %}{{ avatar.name }} Avatar of {{ user.name }}{% endblock %}
{% block content %}
    {{ displayAvatar.displayAvatar(avatar, lang, user, connected) }}
{% endblock %}