{% import 'display_job.jinja' as displayJob %}
{% macro avatarForm(avatar, lang, location, servers, jobs) %}
    <form action="{{ location }}" method="POST">
        <label for="name">
            {% if lang == "en" %}
                Name
            {% elif lang == "fr" %}
                Nom
            {% elif lang == "es" or lang == "sp" %}
                Name
            {% elif lang == "pt" %}
                Name
            {% endif %}:
        </label>
        <input required name="name" type="text" {% if avatar.name != none %} value="{{ avatar.name }}" {% endif %}/>
        <select name="server" required>Server:
            {% for server in servers %}
                {% if server.active == true %}
                    <option value="{{ server.id }}" {% if avatar.server != none and server.id == avatar.server %} selected {% endif %}>{{ server.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="lvl">
            {% if lang == "en" %}
                Level
            {% elif lang == "fr" %}
                Niveau
            {% elif lang == "es" or lang == "sp" %}
                Level
            {% elif lang == "pt" %}
                Level
            {% endif %}:
        </label>
        <input name="lvl" type="number" {% if avatar.lvl != none %} value="{{ avatar.lvl }}" {% endif %} max="215" min="0"/>
        <ul>
            {% for job in jobs %}
                <li>
                    {% set val = 0 %}
                    {% if avatar != none %}
                        {% set key = "job-%i"|format(job.id) %}
                        {% if avatar[key] != none %}
                            {% set val = avatar[key] %}
                        {% endif %}
                    {% endif %}
                    {{ displayJob.updateJob(job, val, lang) }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
{% endmacro %}