<html>
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>{% block title %}WakTisanat{% endblock %}</title>
            <meta name="description" content="{% block description %}WakTisanat Home Page{% endblock %}"/>
            <meta name="keywords" content="Wakfu"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
            {% assets "scss_all" %}
                <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
            {% endassets %}
            <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body id="page-top">
        {% block body %}
            <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
                {% block navbar %}
                    <div class="container">
                        <a class="navbar-brand js-scroll-trigger" href="/">WakTisanat</a>
                        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item mx-0 mx-lg-1">
                                    <div class="nav-link">
                                        <form class="navbar-form" action="/search" method="GET"> 
                                            <div class="input-group">
                                                <input type="text" name="name" value="" class="form-control" placeholder="Object names to search">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" type="submit">🔎</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/directory">{{constants.directoryText.getByShortLang(lang)}}</a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <div class="nav-link">
                                        <div class="dropdown">
                                            <button class="btn text-white dropdown-toggle fw-bold" type="button" id="langsDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{constants.langs.getByShortLang(lang)}}</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for lang in langs %}
                                                    <a class="dropdown-item" href="/langCallBack?lang={{ lang }}&target={{ location }}">{{ lang }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/invite">Invite Me !</a>
                                </li>
                                {% if connected == none %}
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login">{{constants.login.getByShortLang(lang)}}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/profile">{{constants.profile.getByShortLang(lang)}}</a>
                                    </li>
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">{{constants.logout.getByShortLang(lang)}}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </nav>
            <div class="sdl"></div>
            {% block header %}
            {% endblock %}
            <section class="page-section bg-primary text-white mb-0" id="main">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </section>
            <footer class="footer text-center">
                {% block footer %}
                    <div class="container">
                        <div class="row">
                            <!-- Footer Ankama-->
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <h4 class="mb-6">WAKFU MMORPG</h6>
                                    <small class="pre-wrap">© 2012-2020 Ankama Studio.</small>
                                    <small class="pre-wrap">Tous droits réservés. WAKFU et ANKAMA sont des marques ou des marques déposées d’Ankama en France et/ou dans d’autres pays.</small>
                            </div>
                            <!-- Footer Social Discord-->
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <h4 class="mb-4">Discord</h4>
                                <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/9sjdyspDdf"><i class="fab fa-discord"></i></a>
                            </div>
                            <!-- Footer Waktisanat-->
                            <div class="col-lg-4">
                                <h4 class="mb-4">WakTisanat</h4>
                                <small class="pre-wrap">Le site Waktisanat est un site non-officiel sans aucun lien avec Ankama</small>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </footer>
            <section class="copyright py-4 text-center text-white">
                <div class="container"><small class="pre-wrap">Ce site exploite des cookies afin de permettre la gestion de l'authentification et de la langue merci de votre compression.</small></div>
            </section>
        {% endblock %}
        {% block script %}
            <!-- Copyright Section-->
            <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
            <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
            <!-- Bootstrap core JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <!-- Third party plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        {% endblock %}
    </body>
</html>
