{% extends "base.jinja" %}
{% block title %}WakTisanat - Directory{% endblock %}
{% block description %}Directory{% endblock %}
{% block content %}
    {% block avatars %}
        <div class="avatars">
            <form action="/directory" method="GET">
                <select name="server">Server:
                    <option value=-1 {% if req.server == none %} selected {% endif %}>All Servers</option>
                    {% for server in servers %}
                        {% if server.active == true %}
                            <option value="{{ server.id }}" {% if req.server != none and server.id == req.server %} selected {% endif %}>{{ server.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select name="job">Job:
                    <option value="None" {% if req.job == none %} selected {% endif %}>Without Job Filter</option>
                    {% for job in jobs %}
                        <option value="{{ job.id }}" {% if req.job != none and job.id == req.job %} selected {% endif %}>{{ job.title.getByShortLang(lang) }}</option>
                    {% endfor %}
                </select>
                <input name="jobLvl" type="number" {% if req.jobLvl != none %} value="{{ req.jobLvl }}" {% endif %}/>
                <button type="submit">Search</button>
            </form>
            {% if avatars|length > 0 %}
                <h3>Result</h3>
                <ul>
                {% for avatar in avatars %}
                    <li>
                        <a href="/avatar/{{ avatar.id }}">{{ avatar.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <h3>No Result</h3>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}