{% import 'display_job.jinja' as displayJob %}
{% import 'display_pattern.jinja' as displayPattern %}
{% macro displayAvatar(avatar, lang, user, connected) %}
    <div>{{ avatar.name }}</div>
    {% if connected == user.id %}
        <a href="/avatar/{{avatar.id}}/delete">Remove</a>
        <form action="/avatar/{{avatar.id}}" method="POST">
    {% endif %}
    <ul>
        <li>User:<a href="/profile/{{user.discord_id}}">{{user.name}}</a></li>
        <li>Server:{{ avatar.server }}</li>
        <li>
            {% if connected == user.id %}
                <label for="lvl">Lvl:</label>
                <input name="lvl" type="number" value="{{ avatar.lvl if avatar.lvl != none else '' }}" max="215" min="0"/>
            {% else %}
                Lvl:{{ avatar.lvl if avatar.lvl != none else "Not renseigned" }}
            {% endif %}
        </li>
        {% if avatar.jobs|length > 0 %}
            <li>
                <div>
                    {% if lang == "en" %}
                        Jobs
                    {% elif lang == "fr" %}
                        Métiers
                    {% elif lang == "es" or lang == "sp" %}
                        Jobs
                    {% elif lang == "pt" %}
                        Jobs
                    {% endif %}:
                </div>
                {% if connected == user.id %}
                    <ul>
                        {% for job in avatar.jobs %}
                            <li>
                                {{ displayJob.updateJob(job["RecipeCategorie"], job["Level"], lang) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        {% for job in avatar.jobs %}
                            {% if job["Level"] != none %}
                                <li>
                                    {{ displayJob.displayJob(job["RecipeCategorie"], job["Level"], lang) }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
        {% if avatar.patterns|length > 0 %}
            <li>
                <div>
                    {% if lang == "en" %}
                        Patterns
                    {% elif lang == "fr" %}
                        Plans
                    {% elif lang == "es" or lang == "sp" %}
                        Patterns
                    {% elif lang == "pt" %}
                        Patterns
                    {% endif %}:
                </div>
                <ul>
                    {% for pattern in avatar.patterns %}
                        <li>
                            {{ displayPattern.displayPattern(pattern, lang) }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
    {% if connected == user.id %}
        <button type="submit">Change</button>
        </form>
    {% endif %}
{% endmacro %}