{% macro displayRowSheet(rowSheet) %}
    {% for raw in rowSheet["data"] %}
        {% if raw is string %}
            <p>{{ raw }}</p>
        {% else %}
            {{ displayRowSheet(raw) }}
        {% endif %}
    {% endfor %}
{% endmacro %}