{% macro displayJob(RecipeCategorie, lvl, lang) %}
    {% if lvl != none %}
        <div>{{ RecipeCategorie.title.getByShortLang(lang) }}:{{ lvl }}</div>
    {% endif %}
{% endmacro %}
{% macro updateJob(RecipeCategorie, lvl, lang) %}    
    <label for="job-{{ RecipeCategorie.id }}">{{ RecipeCategorie.title.getByShortLang(lang) }}:</label>
    <input value="{% if lvl != none %}{{ lvl }}{% else %}0{% endif %}" type="number" name="job-{{ RecipeCategorie.id }}" min="0" max="150"/>
{% endmacro %}