{% extends "base.jinja" %}
{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="static/img/logo.png">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">WakTisanat</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">{{ constants.short_desc.getByShortLang(lang) }}</p>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        {% for dat in constants.about %}
            <h3>{{ dat }}:</h3>
            {% set firstRaw = constants.about[dat] %}
            {% set secondRaw = firstRaw.getByShortLang(lang) %}
            {% for data in secondRaw.split('\n') %}
                {% if data.startswith('-') %}
                    <ul>
                        <li>{{ data[2:] }}</li>
                    </ul>
                {% else %}
                    <p>{{ data }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}