{% extends "base.jinja" %}
{% block title %}WakTisanat - {{ httpCode }}{% endblock %}
{% block description %}{{ httpCode }} - {{ httpError }}{% endblock %}
{% block content %}
    <h1>{{ httpCode }} - {{ httpError }}</h1>
    {% if description != none %}
        <p>{{ description }}</p>
    {% endif %}
{% endblock %}