{% extends "base.jinja" %}
{% block title %}WakTisanat - {{ item.title.getByShortLang(lang) }}{% endblock %}
{% block description %}{% if item.description %}{{ item.description.getByShortLang(lang) }}{% else %}{{ item.title.getByShortLang(lang) }}{% endif %}{% endblock %}
{% import 'display_row_sheet.jinja' as displayRowSheet %}
{% block content %}
    <h1>{{ item.title.getByShortLang(lang) }}</h1>
    <img src="{{ item._graphicParameters.vertyloUri }}"/>
    {% block stats %}
        {{ displayRowSheet.displayRowSheet(item._row_sheet(lang)) }}
    {% endblock %}
    {% block recipe %}
        <h2>Recipes</h2>
        <ul>
        {% for recipe in recipes %}
            <li>
                <p>{{ displayRowSheet.displayRowSheet(recipe._row_sheet(lang)) }}</p>
                <p><a href="/recipe/{{ recipe.id }}">View Recipe</a></p>
            </li>
        {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}