{% extends "profile.jinja" %}
{% block user %}
    <form action="/profile" method="POST">
        <ul>
            <li>
                <label for="prefix">
                    {% if lang == "en" %}
                        Prefix
                    {% elif lang == "fr" %}
                        Préfixe
                    {% elif lang == "es" or lang == "sp" %}
                        Prefix
                    {% elif lang == "pt" %}
                        Prefix
                    {% endif %}:
                </label>
                <input required name="prefix" type="text" {% if user.prefix != none %} value="{{ user.prefix }}" {% endif %}/>
            </li>
            <li>
                <select name="lang" required>
                    {% if lang == "en" %}
                        Lang
                    {% elif lang == "fr" %}
                        Langue
                    {% elif lang == "es" or lang == "sp" %}
                        Lang
                    {% elif lang == "pt" %}
                        Lang
                    {% endif %}:
                    {% for lang in langs %}
                        <option value="{{ lang }}"{% if user.lang != none and lang == user.lang %} selected {% endif %}>{{ lang }}</option>
                    {% endfor %}
                </select>
            </li>
            <button type="submit">Change</button>
        </ul>
    </form>
{% endblock %}
{% block avatars %}
    {{ super() }}
    <a href="/avatar">Add Avatar</a>
{% endblock %}