{% extends "base.jinja" %}
{% block title %}WakTisanat - {{ user.name }}'s Profile{% endblock %}
{% block description %}{{ user.name }}'s Profile{% endblock %}
{% block content %}
    <h1>{{ user.name }}{% if user.discord_data != none %} ({{ user.discord_data.username }}#{{ user.discord_data.discriminator }}){% endif %}</h1>
    {% block user %}
    {% endblock %}
    {% block avatars %}
        <div class="avatars">
            <h3>Avatars</h3>
                {% if avatars|length > 0 %}
                    <ul>
                    {% for avatar in avatars %}
                        <li>
                            <a href="/avatar/{{ avatar.id }}">{{ avatar.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No Avatar</p>
                {% endif %}
                </ul>
            </div>
    {% endblock %}
{% endblock %}