{% extends "base.jinja" %}
{% set itemName = none %}
{% if recipe.recipeResults|length >= 1 and recipe.recipeResults[0].item != none and recipe.recipeResults[0].item.title != none%}
    {% set itemName = recipe.recipeResults[0].item.title.getByShortLang(lang) %}
{% endif %}
{% block title %}WakTisanat - {% if itemName != none %}Recipe of {{ itemName }}{% else %}Recipe {{ recipe.id }}{% endif %}{% endblock %}
{% block description %}{% if itemName != none %}Recipe of {{ itemName }}{% else %}Recipe {{ recipe.id }}{% endif %}{% endblock %}
{% import 'display_row_sheet.jinja' as displayRowSheet %}
{% block content %}
    {% if itemName != none %}
        <h1>Recipe of <a href="/item/{{ recipe.recipeResults[0].item._id }}">{{ itemName }}</a></h1>
    {% else %}
        <h1>Recipe {{ recipe.id }}</h1>
    {% endif %}
    {% block recipe %}
        {{ displayRowSheet.displayRowSheet(recipe._row_sheet(lang, with_result=true)) }}
    {% endblock %}
    {% block avatars %}
        <h2>Avatars can Craft</h2>
        <ul>
        {% for serv in servAvatars %}
            <li>In {{ serv.server.name }}</li>
            <ul>
                {% if serv.avatars|length > 0 %}
                    {% for avatar in serv.avatars %}
                        <li><a href="/avatar/{{ avatar.id }}">{{ avatar.name }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>No avatars</li>
                {% endif %}
            </ul>
        {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}