{% extends "base.jinja" %}
{% block title %}WakTisanat - Remove {{ avatar.name }}{% endblock %}
{% block description %}Remove {{ avatar.name }}{% endblock %}
{% block content %}
    <form action="/avatar/{{ avatar.id }}/delete" method="POST">
        <label for="name">Please Type name of avatar ({{ avatar.name }}) for confirm suppress</label>
        <input name="name" type="text" required>
        <button type="submit">Remove</button>
    </form>
{% endblock %}