{% extends "base.jinja" %}
{% block title %}WakTisanat - Directory{% endblock %}
{% block description %}Directory{% endblock %}
{% block content %}
    {% block items %}
        <div class="items">
            {% if items|length > 0 %}
                <h3>Search Result</h3>
                <ul>
                {% for item in items %}
                    <li>
                        <a href="/item/{{ item._id }}">{{ item.title.getByShortLang(lang) }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <form action="/search" method="GET">
                    <input type="text" name="name" value="" placeholder="Name of Item Search"/>
                    <button type="submit">🔎</button>
                </form>
                <h3>No Result</h3>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}