<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ HOST }}/</loc>
  </url>
  <url>
    <loc>{{ HOST }}/directory</loc>
  </url>
  {%- for user in users %}
    <url>
        <loc>{{ HOST }}/profile/{{ user.discord_id }}</loc>
    </url>
  {%- endfor -%}
  {%- for avatar in avatars %}
    <url>
        <loc>{{ HOST }}/avatar/{{ avatar.id }}</loc>
    </url>
  {%- endfor -%}
  {%- for item in items %}
    {% if item.title != none %}
      <url>
          <loc>{{ HOST }}/item/{{ item._id }}</loc>
      </url>
    {% endif %}
  {%- endfor -%}
  {%- for recipe in recipes %}
    <url>
        <loc>{{ HOST }}/recipe/{{ recipe.id }}</loc>
    </url>
  {%- endfor -%}
</urlset>